<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOT SCAM %100!</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <video autoplay muted loop id="bg-video">
        <source src="/bg.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <a>
        <img src="/mommy.png" alt="mommy" id="mommy-img">
    </a>
    <a href="/clickme">
        <img src="/clickme.png" alt="Click Me" id="clickme-img">
    </a>
</body>
</html>